.footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgba(5, 11, 29, 0.705);
    gap: 10px;
    font-size: 20px;
    margin-top: 50px;
}
#root > div > div > div.footer > p > span{
    padding-top: 8px;
}