@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Outfit:wght@100..900&family=Pacifico&display=swap");
@import "tailwindcss";

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #161513;
	/* height: 100vh; */
	color: white;
  font-family: "Outfit", sans-serif;

}
html{
	scroll-behavior: smooth;
}
p, label{
	color: rgb(219, 219, 219);
}
a{
	text-decoration: none;
	color: rgb(240, 233, 233);
}

@tailwind utilities;

@keyframes drop {
	0% {
		top: -50%;
	}

	100% {
		top: 110%;
	}
}

@layer utilities {
	.animate-drop1 {
		animation: drop 7s cubic-bezier(0.4, 0.26, 0, 0.97) 2s infinite forwards;
	}

	.animate-drop2 {
		animation: drop 7s cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite forwards;
	}

	.animate-drop3 {
		animation: drop 7s cubic-bezier(0.4, 0.26, 0, 0.97) 2.5s infinite forwards;
	}
}